:root {
  --scale: 0;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;  /* Firefox */
  image-rendering: -o-crisp-edges;    /* Opera */
  image-rendering: -webkit-optimize-contrast; /*Webkit ? */
  image-rendering: crisp-edges;

  -ms-interpolation-mode: nearest-neighbor; /* IE */
}

body {
  background-color: #45283c;
  margin:0;
  overflow: hidden;;
}
